/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary: #F78127;
  --secondary: #1A1A1A;
  --bodyColor: #000000;
 
}

body {
  background: var(--bodyColor);
}

.myContainer {
  @apply container w-full mx-auto lg:px-8 md:px-6 px-5;
}

.head {
    background: rgba(100, 100, 100, );
}
